html {
  font-size: 50px;
}

body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: tomato;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  
  margin: 0.6rem auto;
  padding: 0.5rem;

  background-color: antiquewhite;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

li{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-bottom: 0.1rem solid black;
}

.mem_title-container {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 1rem;
  font-weight: 600;
}

.plus_img {
  display: none;
  padding-right: 0.1rem;
  width: 0.6rem;
  transition: 1s;
}

.wrapper:hover {
  cursor: pointer;
}

.wrapper:hover .plus_img {
  display: block;
}

.dropdown_img {
  display: flex;
}

.mem_png{
  opacity: 0;
  width: 0.05rem;
  transition-duration: 1s;
}

.mem_tittle:hover .mem_png {
  opacity: 100;
  width: 40%;
}
.mem_tittle:hover .plus_img {
  transform: rotate(45deg);
}

.mem_tittle:active .mem_png {
  opacity: 100;
  width: 40%;
}


                                         /*media 1920px*/
@media screen and (max-width: 1920px) {  
  html {
    font-size: 40px;
  }

  .wrapper:hover {
    cursor: default;
  }
  
  /* .plus_img{
    width: 20px;
  } */

  .mem_tittle:hover .mem_png {
    opacity: 100;
    width: 55%;
  }
}
                                         /*media 820px*/
@media screen and (max-width: 820px) {  
  html {
    font-size: 25px;
  }

  .wrapper:hover {
    cursor: default;
  }
  
  /* .plus_img{
    width: 15px;
  } */

  .mem_tittle:hover .mem_png {
    opacity: 100;
    width: 70%;
  }
}